xml and json/shoppingjquerycart-master/A16028-Seemap Preetham-dtd xml example/test.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- XML Schema generated by QTAssistant/XSD Module (http://www.paschidev.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3schools.com" targetNamespace="http://www.w3schools.com" elementFormDefault="qualified">

<!--the portable type restriction definition-->
 <xs:simpleType name="portabletype">
	<xs:restriction base="xs:string">
		<xs:length value="10" />
	</xs:restriction>
 </xs:simpleType>
 <!--the portable type restriction definition ends-->
 <!--the portable and home choice of type portable schema-->
 <xs:element name="portable" type="portabletype" />
 <xs:element name="home" type="portabletype" />
 <!--the portable and home choice of type portable schema ends-->
 <!--the tel complex type schema-->
 <xs:element name="tel" >
	<xs:complexType>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="portable" />
				<xs:element ref="home" />
			</xs:choice>
		</xs:sequence>	
	</xs:complexType>  
 </xs:element>
 <xs:element name="name" type="xs:string" />
 <xs:element name="address" type="xs:string" />
 <!--the tel complex type schema ends-->
 <!--the customer schema-->
 <xs:element name="customer">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="name" /> 
			<xs:element ref="address" /> 
			<xs:element ref="tel" />   
		</xs:sequence> 
	</xs:complexType> 
 </xs:element>
 <!--the customer schema end-->
 <xs:element name="product_name" type="xs:string" />
 <xs:element name="num" type="xs:string" />
 <!--the product schema-->
 <xs:element name="product">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="product_name" /> 
			<xs:element ref="num" />
		</xs:sequence> 
	</xs:complexType> 
 </xs:element>
 <!--the product schema ends-->
 <!--the main orderform schema-->
 <xs:element name="orderform" >
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="customer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="product" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
 </xs:element>
 <!--the main orderform schema ends-->
 </xs:schema>

 
 
 
 
 